body {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    overflow-y: scroll;
}

.list {
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.listsection {
    margin-top: 200px;
}

.notfound {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}